#atable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#atable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#atable tr:nth-child(even){background-color: #f2f2f2;}

#atable tr:hover {background-color: #ddd;}

#atable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0473AA;
  color: white;
}